:root{
    --yelow-color: #FCDD34;
    --main-color: #575757;
    --backgraund-color: #EFF4F8;
    --hover-color: #343434;
    --blue-color: #126DF7;
    --white-color: #ffffff;
}
.line_bottom{
    width: 100%;
    position: absolute;

    background: rgb(0 0 0 / .08);
    height: 1px;
    bottom: 0;
}
ul{
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
    list-style: none;
}


a {
    text-decoration: none;  

    
    font-size: 40px; 
    
    display: inline-block;
 
    
    display: flex;
    align-items: center;
}

.header_nav a {
    font-family: "Mitr", sans-serif !important; 
    font-weight: 400;
    font-size: 20px;
    display: flex;
  
    color: var(--main-color);
    height: 100%;
   
}




.header{
    width: 100%;
    height: 65px;
    background-color: var(--backgraund-color);
    display: flex;
    
  
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;

}
.header_logo{
    width: 50px;
    height: 50px;
    background-color: var(--yelow-color);
    border-radius: 15px;
    position: fixed;
    z-index: 100;
    margin-left: 320px;
    margin-top: 10px;
    
}
.header_ul{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
  
}
.header_li {
    font-family: "Mitr", sans-serif !important; 
    font-weight: 400;
    font-size: 20px;
    color: var(--main-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: 0;
    height: 65px;
    justify-content: center;
    position: relative;

}

.header_line {
    height: 2px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    background-color: #545454;
    
   
}




p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}