
body {
    display: block;
    margin: 0px;
}

.games_section{
    background-color: var(--backgraund-color);
    
    height: 100vh;
    display: flex;
    padding: 200px 320px 0 320px
    
}

.main_game_screen{
    width: 640px;
    height: 300px;
    background-color: #d9d9d9;
    border-radius: 10px;
    margin-left: 20px;
    
}
.left_side_main{
    display: flex;
    flex-direction: column;
  
    align-items: start;
}
.main_slider_container{
    
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
.main_slider_content{
    width: 100px;
    height: 60px;
    background-color: #d9d9d9;
    border-radius: 10px;
    cursor: pointer;
    min-width: 100px;
}
.cicle_button_left{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.main_slider_wrapper{
    background-color: #ffffff;
    width: 540px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow: hidden;
    
}
.right_arrow{
    width: 25px;
    height: 25px;
}
.left_arrow{
    width: 25px;
    height: 25px;
}
.right_side_section{
    margin-left: 80px;
    font-family: "Mitr", sans-serif; 
    

}
.main_slider_major{
    display: flex;
    flex-direction: row;
    gap: 10px;
    left: 220px;
    position: relative;
}
.main_title_of_game{
    font-size: 40px;
    font-weight: 400;
 
    color: var(--hover-color);
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.main_text_about_game{
    font-size: 20px;
    font-weight: 400;
    color: var(--main-color);
}
.main_text_tags{
    color: var(--main-color);
    font-size: 12px;
    font-weight: 400;
}
.main_button_play{
    width: 300px;
    height: 50px;
    background-color: var(--blue-color);
    font-family: "Mitr", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--white-color);
    border-radius: 10px;
    border: 0;
    margin-top: 137px;
    cursor: pointer;
}
.main_game_screen_img{
    width: 640px;
    height: 300px;
    border-radius: 10px;
    
}
.main_slider_content_img{
    width: 100px;
    height: 60px;
    border-radius: 10px;
}
.video_youtube{
    position: absolute;
    width: 1000px;
    height: 500px;
    left: 25%;
    z-index: 1000;
}
h2 {
    display: block;
    font-size: 0em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
h2{
    font-family: "Mitr", sans-serif;
    font-weight: 500;
    color: var(--hover-color);
    font-size: 24px;
    margin-top: 20px;
}
.main_left_side_bottom_text{
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    color: var(--main-color);
    font-size: 20px;
    margin-top: 10px;
}
.main_left_side_bottom_line{
    width: 640px;
    height: 2px;
    background-color: #E2E2E4;
    margin-top: 10px;
}
.block_for_ad{
    width: 640px;
    height: 100px;
    background-color: var(--white-color);
    border-radius: 10px;
    margin-top: 40px;
}
.log_in{
    width: 360px;
    height: 60px;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-family: "Mitr", sans-serif;
}